@import "../assets/color.css";
@import "../assets/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss preflight */
h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
@layer base {
  body * {
    @apply text-foreground; /* 모든 요소에 text-foreground 적용 */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --HEADER-HEIGHT: 50px;
  --FOOTER-HEIGHT: 50px;
  --NAVIGATION-HEIGHT: 50px;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed; /* 다크 모드 기본 글자색 */
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
