.card {
  width: 260px;
  height: 260px;

  color: var(--color-gray-200);
  border-radius: 6px;

  cursor: pointer;

  @media (min-width: 1024px) and (max-width: 1440px) {
    width: 200px;
    height: 200px;
  }
}
